<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-touch-fullscreen" content="yes" />
<meta name="format-detection" content="telephone=no"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1" />
<title>新增提现方式</title>
<link rel="stylesheet" type="text/css" href="../../css/base.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_member.css">
<link rel="stylesheet" type="text/css" href="../../css/nctouch_common.css">
<link rel="stylesheet" type="text/css" href="../../css/distributor.css">
</head>
<body>
<header id="header">
  <div class="header-wrap">
    <div class="header-l"> <a href="withdraw_method.html"> <i class="back"></i> </a> </div>
    <div class="header-title">
      <h1>新增提现方式</h1>
    </div>
    <div class="header-r"> <a id="header-nav" href="javascript:void(0);"><i class="save"></i></a> </div>
  </div>
</header>
<!--提现方式类型-->
<div class="nctouch-full-mask hide">
  <div class="nctouch-full-mask-bg"></div>
  <div class="nctouch-full-mask-block">
    <div class="header">
      <div class="header-wrap">
        <div class="header-l"> <a href="javascript:void(0);"><i class="back"></i></a></div>
        <div class="header-title">
          <h1>类型</h1>
        </div>
      </div>
    </div>
    <div class="nctouch-main-layout-a secreen-layout" id="list-items-scroll" style="top: 2rem;">
    </div>
  </div>
</div>
<script type="text/html" id="search_items">
<ul>
<% var withdraw_list = datas.withdraw_list; %>
<% if(withdraw_list.length>0){%>
<% for(var i = 0;i<withdraw_list.length;i++){%>
	<li onclick="select_code('<%=withdraw_list[i].code%>','<%=withdraw_list[i].name%>')">
		<%=withdraw_list[i].name%>
	</li>
<%}%>
<%}%>
</ul>	
</script>
<div class="nctouch-main-layout">
  <form>
  <input type="hidden" name="code" id="item_code" value="" />
    <div class="nctouch-inp-con">
      <ul class="form-box">
        <li class="form-item">
          <h4>方式</h4>
          <div class="input-box" id="item_title">
          <input type="text" class="inp" name="title" id="title" autocomplete="off" readonly />
          </div>
        </li>
        <li class="form-item other_item">
          <h4>姓名</h4>
          <div class="input-box">
            <input type="text" class="inp" name="name" id="name" autocomplete="off" oninput="writeClear($(this));"/>
            <span class="input-del"></span> </div>
        </li>
        <li class="form-item other_item">
          <h4>账号</h4>
          <div class="input-box">
            <input type="text" class="inp" name="no" id="no" autocomplete="off" oninput="writeClear($(this));">
            <span class="input-del"></span> </div>
        </li>
        <li>
          <h4>默认</h4>
          <div class="input-box">
            <label>
              <input type="checkbox" class="checkbox" name="is_default" id="is_default" value="1" />
              <span class="power"><i></i></span> </label>
          </div>
        </li>
      </ul>
      <div class="error-tips"></div>
      <div class="form-btn"><a class="btn" href="javascript:;">保存</a></div>
    </div>
  </form>
</div>

<footer id="footer" class="bottom"></footer>
<script type="text/javascript" src="../../js/zepto.min.js"></script> 
<script type="text/javascript" src="../../js/config.js"></script> 
<script type="text/javascript" src="../../js/common.js"></script> 
<script type="text/javascript" src="../../js/template.js"></script> 
<script type="text/javascript" src="../../js/simple-plugin.js"></script> 
<script type="text/javascript" src="../../js/tmpl/footer.js"></script> 
<script type="text/javascript" src="../../js/tmpl/withdraw_opera.js"></script> 
</body>
</html>
